doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="/styles/anonymizer-light.min.css")
  body
    noscript Please enable JavaScript to run the Anonymizer.
    #anonymizer
    script(src="/bundle.js")
